
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@600&display=swap');
@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'S-CoreDream-4Regular';
}
body {
    display: flex;
    justify-content: center;
    width: 98vw;
}
h2 {
    font-size: 3rem;
    margin-top: 1.4rem;
}
.wrapper {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
}
.header {
    width: 100%;
    height: 10vh;
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header > div > div {
    font-weight: 600;
    font-size: 3rem;
    letter-spacing: 1.6px;
    font-family: 'Red Hat Mono';
}
.header > div > p {
    letter-spacing: -1px;
    font-family: 'Red Hat Mono';
}
.header > img {
    float: right;
}
.profile > img {
    max-width: 10vw;
}
.content > div {
    margin: 16px;
}
.info > ul {
    list-style-type: none;
    padding: 1rem;
}
.info > ul > li {
    padding: 0.8rem;
    font-size: 1.2rem;
}
li > strong {
    cursor: pointer;
}
li > strong:hover {
    text-decoration: underline;
    color:cadetblue;
    transition: 0.2s;
}
.howToUse {
    letter-spacing: 1px;
    line-height: 30px;
}
.howToUse > div {
    margin: 2rem;
}
.howToUse > div > p {
    margin: 16px;
}
.howToUse img {
    border: 1px solid black;
    margin: 0.8rem;
}
.downloadBtn {
    margin: 4px;
    display: inline-block;
    padding: 2px;
    border: 1px solid black;
    cursor: pointer;
}
.downloadBtn:hover {
    transition: 0.3s;
    background-color: black;
    color: white;
}
.release_note {
    padding: 1rem;
}
.release_note > div {
    margin: 28px;
}
.release_note > div > h3 {
    margin-bottom: 20px;
    font-size: 1.6rem;
}
.release_note > div > p {
    font-size: 1.2rem;
}